* {
    margin: 0;
  }
body{
    text-align: center;
    display:block;
    align-items:center;
    justify-content:center;
    gap:1rem;
    background: #1f1f1f;    
}
main {
    max-width: 250px;
  }
img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius:100%;
    margin: 2rem;
  }
  p{
    color: #fff;
    
  }